# CAP warehouse
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
package-lock.json
target/

srv/src/*
srv/server.js
srv/app.js

# Web IDE, App Studio
.che/
.gen/
.vscode
# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log
